<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/ad5f879421.js" crossorigin="anonymous"></script>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>

       {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="profile" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_user_page %}
        
        {% endif %}

        <a href="https://www.linkedin.com/in/aishwaryamdm/">
<img src="assets/img/linkedin-brands.svg" alt="linkedin_icon" width="40" height="32"> Linkedin
</a>
        <br>
<a href="mailto:ao21resch11002@iith.ac.in">
<img src="assets/img/envelope-regular.svg" alt="mail_icon" width="40" height="32"> Email
</a>
          <br>
<a href="https://scholar.google.com/citations?user=YbyzuEEAAAAJ&hl=en">
<img src="assets/img/google-scholar-brands.svg" alt="scholar_icon" width="40" height="32"> Scholar
</a>
          <br>
<a href="https://github.com/Quartz14">
<img src="assets/img/github-brands.svg" alt="github_icon" width="40" height="32"> Github
</a>

        <nav id="navbar" class="navbar navbar-light navbar-expand-sm fixed-top">
      <div class="container">


            


        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
